{% extends "SlashworksAppBundle::Layout/base.html.twig" %}

{% block content -%}

    <section class="vbox">
        <section class="scrollable padder">
            <div class="m-b-md" style="position: relative">
                <h1 class="page-header" style="">{{ "system.customers.list"|trans}}</h1>
                <div class="head-controls">
                    <a href="{{ path('backend_system_customer_new') }}" class="btn btn-primary btn-circle" data-toggle="tooltip" data-placement="left" data-original-title="{{ "system.customers.new"|trans }}" ><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <section class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-striped m-b-none" data-ride="datatables">
                        <thead>
                        <tr>
                            <th class="sorting" style="width:3%">{{ "customer.id"|trans }}</th>
                            <th class="sorting" style="">{{ "customer.name"|trans }}</th>
                            <th class="sorting" style="">{{ "customer.email"|trans }}</th>
                            <th class="sorting" style="">{{ "customer.phone"|trans }}</th>
                            <th class="sorting" style="">{{ "customer.fax"|trans }}</th>
                            <th style="width:5%;">{{ "global.action"|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for customer in entities %}
                                <tr class="{{ cycle(['odd','even'],loop.index0) }}">
                                    <td>{{ customer.id }}</td>
                                    <td>{{ customer.name }}</td>
                                    <td><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></td>
                                    <td>{{ customer.phone }}</td>
                                    <td>{{ customer.fax }}</td>
                                    <td class="text-center ">
                                        <a href="{{ path('backend_system_customer_edit', { 'id': customer.id }) }}" data-toggle="tooltip" class="action-button float_left" data-placement="top" data-original-title="{{ "global.edit"|trans }}"><i class="fa fa-pencil"></i></a>
                                        <a href="{{ path('backend_system_customer_delete', { 'id': customer.id }) }}" data-toggle="tooltip" class="action-button float_left" data-placement="top" data-original-title="{{ "global.delete"|trans }}"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
    </section>
    {% endblock %}
