{% extends "SlashworksBackendBundle::Layout/modal_base.html.twig" %}

{% block modal_id %}
    customer-{{ customer.id }}
{% endblock %}


{% block modal_label %}
    {{ customer.name }}
{% endblock %}



{% block modal_title %}
    Details zum Kunden:  {{ customer.name }} {{ customer.legalForm }}
{% endblock %}


{% block modal_content %}

    <table class="table table-striped ">
        <tr>
            <td><strong>{{ "customer.name"|trans }}:</strong></td>
            <td>{{ customer.name }} {{ customer.legalForm }}</td>
        </tr>
        <tr>
            <td><strong>{{ "customer.street"|trans }}:</strong></td>
            <td>{{ customer.street }}</td>
        </tr>
        <tr>
            <td><strong>{{ "customer.zip"|trans }}:</strong></td>
            <td>{{ customer.zip }}</td>
        </tr>
        <tr>
            <td><strong>{{ "customer.city"|trans }}:</strong></td>
            <td>{{ customer.city }}</td>
        </tr>
        <tr>
            <td><strong>{{ "customer.country"|trans }}:</strong></td>
            <td>{{ customer.country.De }}</td>
        </tr>
        <tr>
            <td><strong>{{ "customer.phone"|trans }}:</strong></td>
            <td>{{ customer.phone }}</td>
        </tr>
        <tr>
            <td><strong>{{ "customer.fax"|trans }}:</strong></td>
            <td>{{ customer.fax }}</td>
        </tr>
        <tr>
            <td><strong>{{ "customer.email"|trans }}:</strong></td>
            <td><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></td>
        </tr>
        <tr>
            <td><strong>{{ "customer.notes"|trans }}:</strong></td>
            <td>{{ customer.notes }}</td>
        </tr>
    </table>
{% endblock %}


{% block modal_footer %}
    {{ parent() }}
{% endblock %}