{% extends "SlashworksBackendBundle::Layout/base.html.twig" %}
{% block content %}
<section class="vbox">
    <section class="scrollable padder">
        <div class="m-b-md" style="position: relative">
            <h1 class="page-header" style="">{{ "system.customers.create"|trans}}</h1>
            <div class="head-controls">
                <a href="{{ path('backend_system_customer') }}" class="btn btn-default btn-circle" data-toggle="tooltip" data-placement="left" data-original-title="{{ "global.back"|trans }}"><i class="fa fa-mail-reply"></i></a>
            </div>
        </div>
        <section class="panel panel-default" style="clear:both;">

            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_widget(form._token) }}
                <div class="panel-body">
                    <div class="row">
                        <form role="form">
                            <div class="col-lg-6">

                                {{ form_row(form.name, { 'label': 'customer.name'|trans }) }}
                                {{ form_row(form.street, { 'label': 'customer.street'|trans }) }}
                                {{ form_row(form.zip, { 'label': 'customer.zip'|trans }) }}
                                {{ form_row(form.city, { 'label': 'customer.city'|trans }) }}
                                {{ form_row(form.country,{'attr':{'class':'form-control chosen-select'}, 'label': 'customer.country'|trans }) }}
                                {{ form_row(form.notes, { 'label': 'customer.notes'|trans }) }}

                            </div>
                            <div class="col-lg-6">

                                {{ form_row(form.legalform, { 'label': 'customer.legalForm'|trans }) }}
                                {{ form_row(form.phone, { 'label': 'customer.phone'|trans }) }}
                                {{ form_row(form.fax, { 'label': 'customer.fax'|trans }) }}
                                {{ form_row(form.email, { 'label': 'customer.email'|trans }) }}

                            </div>
                            <div class="col-lg-12">
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-primary btn-default" data-toggle="tooltip" data-placement="left" data-original-title="{{ "global.save"|trans }}"><i class="fa fa-2x fa-save"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </section>
    </section>
</section>

{% endblock %}
