{% form_theme form 'SlashworksBackendBundle:Form:field_errors.html.twig' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block pagetitle %}{% endblock %}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:400,700">

    {% stylesheets
    '@SlashworksBackendBundle/Resources/public/css/bootstrap.min.css'
    '@SlashworksBackendBundle/Resources/public/css/plugins/metisMenu/metisMenu.min.css'
    '@SlashworksBackendBundle/Resources/public/css/plugins/dataTables.responsive.css'
    '@SlashworksBackendBundle/Resources/public/css/sb-admin-2.css'
    '@SlashworksBackendBundle/Resources/public/css/*'
    '@SlashworksBackendBundle/Resources/public/css/plugins/*'
    '@SlashworksBackendBundle/Resources/public/css/animate.css'
    output='css/compiled/main.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block css_head %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block js_head %}{% endblock %}
    <style>

        .login-panel {
            margin-top: 5%;
        }

    </style>
</head>
<body class="control">
<div id="wrapper">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading login">
                    <span class="navbar-brand logo">
                        {% image '@SlashworksAppBundle/Resources/public/images/logo.png' %}
                        <img src="{{ asset_url }}" alt="Example"/>
                        {% endimage %}
                        <div class="floatblock">
                            {% block app_title %}
                                <span class="name">control</span>
                                <span class="version">Contao Monitoring</span>
                            {% endblock %}
                        </div>

                    </span>
                </div>
                <div class="panel-body">

                    {{ form_start(form) }}

                    {% if error and errorMessage == false%}
                        <div class="alert alert-danger">
                            {{ "install.form.errors"|trans }}
                        </div>
                    {% elseif error and errorMessage != false %}
                        <div class="alert alert-danger">
                            <pre>
                            {{ errorMessage|raw }}
                                </pre>
                        </div>
                    {% endif %}

                    <h2>{{ "install.headline"|trans }}</h2>

                    {{ form_row(form.controlUrl, { 'label': 'install.label.controlUrl'|trans } ) }}
                    <hr>
                    {{ form_row(form.adminUser, { 'label': 'install.label.adminUser'|trans } ) }}
                    {{ form_row(form.adminEmail, { 'label': 'install.label.adminEmail'|trans } ) }}
                    {{ form_row(form.adminPassword, { 'label': 'install.label.adminPassword'|trans } ) }}
                    <hr>

                    {{ form_row(form.dbDriver, { 'label': 'install.label.dbDriver'|trans } ) }}
                    {{ form_row(form.dbHost, { 'label': 'install.label.dbHost'|trans } ) }}
                    {{ form_row(form.dbPort, { 'label': 'install.label.dbPort'|trans } ) }}
                    {{ form_row(form.dbName, { 'label': 'install.label.dbName'|trans } ) }}
                    {{ form_row(form.dbUser, { 'label': 'install.label.dbUser'|trans } ) }}
                    {{ form_row(form.dbPassword, { 'label': 'install.label.dbPassword'|trans } ) }}

                    <hr>

                    {{ form_row(form.mailerTransport, { 'label': 'install.label.mailerTransport'|trans } ) }}
                    {{ form_row(form.mailerHost, { 'label': 'install.label.mailerHost'|trans } ) }}
                    {{ form_row(form.mailerUser, { 'label': 'install.label.mailerUser'|trans } ) }}
                    {{ form_row(form.mailerPassword, { 'label': 'install.label.mailerPassword'|trans } ) }}

                    {{ form_widget(form._token) }}

                    {{ form_rest(form) }}

                    <button type="button" class="btn btn-outline btn-success" style="float:left;color:#fff;" onclick="document.location.href='/install/requirements';">{{ "system.back"|trans }}</button>
                    <button type="submit" class="btn btn-outline btn-success" style="color:#fff;" onclick="document.location.href='/install/data';">{{ "install.submit"|trans }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% javascripts
'@SlashworksBackendBundle/Resources/public/js/jquery.js'
'@SlashworksBackendBundle/Resources/public/js/jquery-ui.min.js'
'@SlashworksBackendBundle/Resources/public/js/plugins/dataTables/jquery.dataTables.js'
'@SlashworksBackendBundle/Resources/public/js/plugins/dataTables/dataTables.bootstrap.js'
'@SlashworksBackendBundle/Resources/public/js/plugins/dataTables/dataTables.responsive.js'
'@SlashworksBackendBundle/Resources/public/js/bootstrap.min.js'
'@SlashworksBackendBundle/Resources/public/js/bootstrap.growl.min.js'
'@SlashworksBackendBundle/Resources/public/js/plugins/metisMenu/metisMenu.min.js'
'@SlashworksBackendBundle/Resources/public/js/sb-admin-2.js'
'@SlashworksBackendBundle/Resources/public/js/jquery-gentleSelect-min.js'
'@SlashworksBackendBundle/Resources/public/js/jquery-cron-min.js'
'@SlashworksBackendBundle/Resources/public/js/plugins/chosen.jquery.min.js'
output='js/compiled/main.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>