<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block pagetitle %}{% endblock %}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:400,700">
    <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    {% stylesheets
    '@SlashworksBackendBundle/Resources/public/css/bootstrap.min.css'
    '@SlashworksBackendBundle/Resources/public/css/plugins/metisMenu/metisMenu.min.css'
    '@SlashworksBackendBundle/Resources/public/css/plugins/dataTables.responsive.css'
    '@SlashworksBackendBundle/Resources/public/css/sb-admin-2.css'
    '@SlashworksBackendBundle/Resources/public/css/*'
    '@SlashworksBackendBundle/Resources/public/css/plugins/*'
    '@SlashworksBackendBundle/Resources/public/css/animate.css'
    output='css/compiled/main.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block css_head %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block js_head %}{% endblock %}
    <style>
        .check{
            padding: 5px 10px;
            margin-bottom: 5px;
            border: 1px solid transparent;
            border-radius: 4px;
            width: 34px;
        }

        .check.alert-info{
            width: auto;
        }

        .row.odd{
            background-color: #f4f4f4;
        }
        .row.even{
            background-color: #ffffff;
        }

        .panel-body .row > div {
            padding: 15px 60px 15px 15px;
            position: relative;
        }

        .check {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%)
        }

        .check.alert-danger{
            top: 15px;
            transform: none;
        }


        .check.alert-info{
            position: relative;
            right: auto;
            top: auto;
            transform: none;
            margin-top: 5px;
            background-color: transparent;
            padding: 0;
            border:0;
        }

        .check.alert-info a{
            color:#31708f;
            font-weight: bold;
        }


        .login-panel {
            margin-top: 5%;
        }


    </style>
</head>
<body class="control">
<div id="wrapper">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading login">
                    <span class="navbar-brand logo">
                        {% image '@SlashworksAppBundle/Resources/public/images/logo.png' %}
                        <img src="{{ asset_url }}" alt="Example" />
                        {% endimage %}
                        <div class="floatblock">
                            {% block app_title %}
                                <span class="name">control</span>
                                <span class="version">Contao Monitoring</span>
                            {% endblock %}
                        </div>

                    </span>
                </div>
                <div class="panel-body">

                    {% if failedrequirements|length > 0  or failedrecommendations|length > 0 %}

                    <div class="panel-group" id="accordion">
                        {% if failedrequirements|length > 0 %}
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">{{ "install.requirements"|trans }}</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">

                                    <div class="panel-body" style="padding-top: 0;">
                                        {% for req in failedrequirements %}
                                            <div class="row  {{ cycle(['even','odd'], loop.index0) }}">
                                                <div class="col-md-12" style="{% if req.fulfilled == false %}color:#a94442;{% endif %}">
                                                    {{ req.testMessage|trans|raw }}
                                                    {% if req.fulfilled == true %}<div class="check alert-success"><i class="fa fa-check"></i></div>{% else %}<div class="check alert-danger"><i class="fa fa-times"></i></div>{% endif %}
                                                    {% if req.fulfilled == false %}
                                                        <div class="check alert-info">{{ req.helpHtml|trans|raw }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if failedrecommendations|length > 0 %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="" aria-expanded="true">{{ "install.recommendations"|trans }}</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="panel-body" style="padding-top: 0;">
                                    {% for req in failedrecommendations %}
                                        <div class="row  {{ cycle(['even','odd'], loop.index0) }}">
                                            <div class="col-md-12" style="{% if req.fulfilled == false %}color:#a94442;{% endif %}">
                                                {{ req.testMessage|trans|raw }}
                                                {% if req.fulfilled == true %}<div class="check alert-success"><i class="fa fa-check"></i></div>{% else %}<div class="check alert-danger"><i class="fa fa-times"></i></div>{% endif %}
                                                {% if req.fulfilled == false %}
                                                    <div class="check alert-info">{{ req.helpHtml|trans|raw }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="panel-footer">
                                    <span style="color:#31708f" id="phpini">* {{ "install.loaded_ini_path"|trans }}: {{ iniPath }}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    {% endif %}

                    {% if failedrequirements|length <= 0 %}

                        <div class="alert alert-success">
                            <p>{{ "install.all_requirements_met"|trans|raw }}</p>
                        </div>
                        <button type="button" class="btn btn-outline btn-success" style="color:#fff;" onclick="document.location.href='/install/data';">{{"system.next"|trans}}</button>
                    {% else %}
                        <div class="alert alert-warning">
                            <p>{{ "install.not_all_requirements_met"|trans|raw }}</p>
                        </div>
                        <button type="button" class="btn btn-outline btn-success" style="color:#fff;" onclick="document.location.href='/install/data';">{{ "system.still_next"|trans }}</button>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% javascripts
'@SlashworksBackendBundle/Resources/public/js/jquery.js'
'@SlashworksBackendBundle/Resources/public/js/jquery-ui.min.js'
'@SlashworksBackendBundle/Resources/public/js/plugins/dataTables/jquery.dataTables.js'
'@SlashworksBackendBundle/Resources/public/js/plugins/dataTables/dataTables.bootstrap.js'
'@SlashworksBackendBundle/Resources/public/js/plugins/dataTables/dataTables.responsive.js'
'@SlashworksBackendBundle/Resources/public/js/bootstrap.min.js'
'@SlashworksBackendBundle/Resources/public/js/bootstrap.growl.min.js'
'@SlashworksBackendBundle/Resources/public/js/plugins/metisMenu/metisMenu.min.js'
'@SlashworksBackendBundle/Resources/public/js/sb-admin-2.js'
'@SlashworksBackendBundle/Resources/public/js/jquery-gentleSelect-min.js'
'@SlashworksBackendBundle/Resources/public/js/jquery-cron-min.js'
'@SlashworksBackendBundle/Resources/public/js/plugins/chosen.jquery.min.js'
output='js/compiled/main.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

</body></html>